<!DOCTYPE html>
body {
    background-color: black;
    
}

h1 {
    background-color: black;
    color: red;
}

p {
    background-color: black;
    color: #c2edda;
    font-family: 'Inter', sans-serif;
}

.title {
    background-color: black;
    color: #c2edda;
    font-family: 'Inter', sans-serif;
}
